{% extends 'base.html' %}

    
    {% block content %}
        <h1>Agenda do Médico</h1>
        <p>Here is the agenda for the conference:</p>
        <ul>
            <li>9:00am - Consulta 1</li>
            <li>10:00am - Consulta 2</li>
            <li>11:00am - Consulta 3</li>
            <li>11:15am - Consulta 4</li>
            <li>12:15pm - Consulta 5</li>
            <li>1:30pm - Consulta 6</li>
            <li>2:30pm - Consulta 7</li>
            <li>2:45pm - Consulta 8</li>
            <li>3:45pm - Consulta 9</li>
            <li>4:00pm - Consulta 10</li>
            <li>5:00pm - Consulta 11</li>
        </ul>
    {% endblock %}

