{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Cadastrar Consultas</h2>
    <form action="{{ url_for('doctor.cadastrar_consultas') }}" method="POST">
        <div class="form-group">
            <label for="cartao">Cartão do SUS:</label>
            <input type="text" id="cartao" name="cartao" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" class="form-control" required>
                <option value="" disabled>Selecione</option>
                <option value="pendente">Pendente</option>
                <option value="confirmada">Confirmada</option>
                <option value="cancelada">Cancelada</option>
            </select>
        </div>
        <div class="form-group">
            <label for="motivo">Motivo da consulta:</label>
            <input type="text" id="motivo" name="motivo" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" class="form-control" required>
        </div>
        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="alert alert-{{ categoria }}">{{ mensagem }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
{% endblock %}
