{% extends "base.html" %}

{% block title %}Editar Senha{% endblock %}

{% block content %}
    <h2>Editar Senha</h2>
    <form action="{{ url_for('user.editar_senha') }}" method="POST">
        <div class="form-group">
            <label for="nova_senha">Nova senha:</label>
            <input type="password" id="nova_senha" name="nova_senha" class="form-control" placeholder="Digite sua nova senha" required>
        </div>
        
        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="alert alert-{{ categoria }}">{{ mensagem }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
{% endblock %}
