{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form action="{{ url_for('user.login') }}" method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" class="form-control" required>
        </div>

        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="alert alert-{{ categoria }}">{{ mensagem }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <script>
        document.getElementById('tipo').addEventListener('change', function () {
            var camposAdicionais = document.getElementById('camposAdicionais');
            camposAdicionais.innerHTML = '';

            if (this.value === 'medico') {
                camposAdicionais.innerHTML = `
                    <div class="form-group">
                        <label for="crm">CRM:</label>
                        <input type="text" id="crm" name="crm" class="form-control" required>
                    </div>
                `;
            }             
        });
    </script>
{% endblock %}