{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form action="" method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" class="form-control" required>
                <option value="">Selecione</option>
                <option value="admin">Admin</option>
                <option value="médico">Médico</option>
                <option value="paciente">Paciente</option>
            </select>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red;">{{messages[0]}}</p>
            {% endif %}
        {% endwith %}
        <div id="extraFields"></div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <script>
        document.getElementById('tipo').addEventListener('change', function () {
            var extraFields = document.getElementById('extraFields');
            extraFields.innerHTML = '';

            if (this.value === 'médico') {
                extraFields.innerHTML = `
                    <div class="form-group">
                        <label for="crm">CRM:</label>
                        <input type="text" id="crm" name="crm" class="form-control" required>
                    </div>
                `;
            }             
        });
    </script>
{% endblock %}
