<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{{url_for('user.login')}}" method="post">
        <input type="email" name="email" placeholder="Email" id="">
        <input type="password" name="senha" placeholder="Senha" id="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red;">{{messages[0]}}</p>
            {% endif %}
        {% endwith %}
        <input type="submit" value="Enviar">
    </form>
</body>
</html>